.cont-global-profile {
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.cont-global-profile::-webkit-scrollbar {
    display: none;
}
.cont-global-profile {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.save-profile {
    background-color: #5569cd;
    color: white;
    font-weight: bold;
    padding: 0rem 1.5rem;
    border-radius: 30px;
}
.saved {
    background-color: #5569cd;
    color: white;
    font-weight: bold;
    padding: 0rem 1.5rem;
    border-radius: 30px;
}
